@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@theme {
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl: 1920px;
    --color-primary: #1368EC;
}

@layer base {
    html {
        font-family: var(--font-display);
    }
    body {
        background-color: #fcfafa;
        overflow-x: hidden;
    }
}

.input-box {
    @apply flex justify-between gap-3 text-sm text-white bg-[#232D19] rounded px-5 mt-2 border border-[#5E6623] outline-none w-full h-10 py-2 mb-5;
}

.card {
    @apply bg-[#fceeee] shadow-md shadow-gray-300 rounded-2xl p-5 mb-5 border-gray-200/50;
}

.card-btn {
    @apply flex items-center gap-3 text-[14px] font-semibold bg-[#d4d994] text-[#536623] px-4 py-2 rounded-md border cursor-pointer;
}

.card-btn:hover {
    @apply bg-[#c7cc83] text-[#3d4d1a];
}